/* "Inter" and "Merriweather" font imported from font-google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Inter", serif; */
  /* font-family: "Merriweather", serif; */
}
body {
  vertical-align: middle;
  overflow-x: hidden;
}
a,
a:hover {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
.container {
  max-width: 1320px;
  margin-inline: auto;
  width: 82%;
}

/* Header section styles start from here */
header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../assets/images/banner_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.banner {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  width: 632px;
}
.banner .sub-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
.banner .title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Header section styles end here */

/* Discount section styles start from here */
#discount {
  font-family: "Inter", serif;
  text-align: center;
  margin: 120px 0;
}
#discount > h2 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
#discount > h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
#discount > h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
/* Discount section styles end here */

/* Second Banner section styles start from here */
#s-banner {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../assets/images/second-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  border-radius: 16px;
}
#s-banner article h2 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 642px;
}
#s-banner article p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  margin: 24px 0;
}
#s-banner article button {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  background: #111;
  border: none;
}
/* Second Banner section styles end here */

/* Address section styles start from here */
#address {
  height: 480px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", serif;
  border-radius: 16px;
  margin: 120px 0;
}
#address article p {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  color: #f00;
}
#address article p span {
  color: #ff0000;
}
#address article button {
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 48px;
}
/* Address section styles end here */

/* Offer section style start from here */
#offer .offer-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", serif;
}
.offer-con article h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-con article h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  margin-bottom: 22px;
}
.offer-con article p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}
.offer-con article .second-article {
  font-family: "Inter", serif;
  margin-bottom: 16px;
}
.offer-con article .article-desc {
  width: 276px;
  margin-bottom: 40px;
}
.offer-con > figure {
  padding: 50px;
  border: 15px solid #f00;
  border-radius: 100%;
}
/* Offer section style end here */

/* Sale section styles start from here */
#sale {
  margin: 120px 0;
  text-align: center;
  font-family: "Inter", serif;
}
#sale h3 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
#sale h2 {
  color: #f00;
  font-size: 72px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  margin-bottom: 28px;
}
#sale h2 span {
  color: #070211;
}
#sale p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 1068px;
  margin: 0 auto;
}
#sale .sale-img {
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  height: 230px;
  position: relative;
  margin-top: 600px;
}
.sale-img figure {
  position: absolute;
}
.sale-img figure:first-child {
  top: -400px;
}
.sale-img figure:last-child {
  right: 0;
  bottom: 300px;
}
/* Sale section styles end here */

/* Portfolio section styles start from here */
#portfolio article {
  width: 896px;
  font-family: "Inter", serif;
}
#portfolio article h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
#portfolio article h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  margin-bottom: 22px;
}
#portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
#portfolio .portfolio-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
#portfolio .portfolio-container:last-child {
  margin-bottom: 0;
}
/* Portfolio section styles end here */

/* Newsletter section styles start from here */
#newsl {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  height: 615px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Newsletter section styles end here */
